/* 
    Created on : Apr 22, 2020, 8:03:34 AM
    Author     : Esteban Vargas
*/

.button {
    -fx-font: 40px "Gill Sans Ultra Bold Condensed";
    -fx-text-fill: linear-gradient(#31e8a6,#1A6AE0);
    -fx-padding: 7;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 8;
    
    -fx-effect: dropshadow(one-pass-box, #30d6f8, 22, 0.0 , 0, 0);
    -fx-effect: innershadow(one-pass-box, #30d6f8, 30, 0.0 , 0, 0);
    -fx-border-color :  #44F287;
    -fx-border-radius: 6;
    -fx-border-width: 4;
    
}
.button:hover {
    -fx-background-color: linear-gradient(#059467, #034984);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}